:root {
    --gap: 2.5rem;
}

.marquee {
    display: flex;
    align-items: center;
    gap: var(--gap);
    width: 600px;
    margin: auto;
    padding: 15px 0;
    overflow: hidden;
    user-select: none;
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
}

.dev-icons {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 12s linear infinite;
}

.dev-icons img {
    width: 65px;
    height: 65px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container>div {
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container>div:hover {
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 28px;
    color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
    .experience__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience__container>div {
        padding: 1.2rem 2.5rem;
    }

    .experience__container>div h3 {
        margin-bottom: 2rem;
    }

    .experience__content {
        row-gap: 1rem;
    }
}